.row
    .col-lg-3.col-xs-6
        // small box
        .small-box.bg-aqua
            .inner
                h3 10
                p New Enquiries
            .icon
                  i.ion.ion-bag
            a.small-box-footer(href='#')
                | More info 
                i.fa.fa-arrow-circle-right
    .col-lg-3.col-xs-6
        // small box
        .small-box.bg-yellow
            .inner
                h3 40
                p SKU Created
            .icon
                i.fa.fa-dropbox
            a.small-box-footer(href='#')
                | More info 
                i.fa.fa-arrow-circle-right
            
    .col-lg-3.col-xs-6
        // small box
        .small-box.bg-green
            .inner
                h3
                    | 53
                    sup(style='font-size: 20px') %
                    p Warehouse Free
            .icon
                i.fa.fa-bank
            a.small-box-footer(href='#')
                | More info 
                i.fa.fa-arrow-circle-right
            
    .col-lg-3.col-xs-6
        // small box
        .small-box.bg-red
            .inner
                h3 10
                p Orders Pending
            .icon
                i.fa.fa-shopping-cart
            a.small-box-footer(href='#')
                | More info 
                i.fa.fa-arrow-circle-right
        
        