#popup.modal.fade(tabindex='-1')
    .modal-dialog.modal-lg
        .modal-content
            .modal-header
                .col-md-6
                  h4#popuptitle.box-title Warehouse
                .pull-right.box-tools.col-md-6
                  button.btn.btn-info.btn-sm.pull-right.box-tools(type='button', data-widget='remove', data-toggle='tooltip', data-dismiss='modal', title='Remove')
                    i.fa.fa-times
            #QuotationBody.modal-body
                #divpopcontent.col-md-12.col-lg-12(style='text-align:center;')
                    #Warehouse-pop.chart(style='position: relative; height: 300px;')
                    #Stock-sumary-chart-pop.chart(style='position: relative; height: 300px;')
                    #Stock-movement-chart-pop.chart(style='position: relative; height: 300px;')
                    #Warehouse-occuppancy-chart-pop.chart(style='position: relative; height: 300px;')
            .modal-footer