.col-md-12(style='margin-top:15px;-webkit-box-shadow: 0 4px 6px -6px #222;-moz-box-shadow: 0 4px 6px -6px #222;box-shadow: 0 4px 6px -6px #222;')
    .col-md-6
        .form-group.col-md-12
            .col-md-5
                label(for='inputUsername') Transfer No
            .col-md-6
                input#Text1.text(type='text')
        .form-group.col-md-12
            .col-md-5
                label(for='inputPassword') Storer
            .col-md-6
                input#Text1.text(type='text')
        .form-group.col-md-12
            .col-md-5
                label(for='inputPassword') Details
            .col-md-6
                textarea#TextArea1.text(rows='5', cols='20')
    .col-md-6
        .form-group.col-md-12
            .col-md-5
                label(for='inputUsername') Date
            .col-md-6
                input#Text1.text(type='date')
        .form-group.col-md-12
            .col-md-5
                label(for='inputPassword') Reason
            .col-md-6
                input#Text1.text(type='text')