.col-md-12.no-padding(style='text-align:right;')
    a#btnExportTransferDetails.export.btn.btn-flat.btn-default(href='#') Export to Excel
    a#btnExportTransferDetailstoPDF.export.btn.btn-flat.btn-default(href='#') Export to PDF
.col-md-12
    .form-group
        table#tblTransferDetails.table.table-striped.table-bordered(cellspacing='0', width='100%')
            thead
                tr
                    th
                        input#chkHeader(type='checkbox')
                        label(for='chkHeader') SelectAll
                    th From SKU
                    th To SKU
                    th From Batch
                    th To Batch
                    th From Qty
                    th To Qty
                    th From Expiry Date
                    th To Expiry Date
                    th From Manufacturing Date
                    th To Manufacturing Date
            tbody
    .form-group.col-md-12
        .col-md-6
    .col-md-12.no-padding(style='margin-top:20px;')
        input#btnSubmit.btn.btn-primary.btn-flat.btn-block(type='button', value='Submit', style='width:200px;float:left')