.col-md-12(style='margin-top:15px;')
    .col-md-6.no-padding
        .form-group.col-md-12
            .col-md-4.form-group
                label From SKU
                .input-group
                    input#txtFromSKU.text(type='text')
                    span.input-group-btn
                        button#btnLoadSKU.btn.btn-flat(type='button')
                            i.fa.fa-search
                label To SKU
                .input-group
                    input#txtToSKU.text(type='text')
                    span.input-group-btn
                        button#btnloadtosku.btn.btn-flat(type='button')
                            i.fa.fa-search
            .col-md-4.form-group
                label From Batch
                .input-group
                    input#txtFromBatch.text(type='text')
                    span.input-group-btn
                        button#btnloadbatch.btn.btn-flat(type='button')
                            i.fa.fa-search
                label To Batch
                input#txtToBatch.text(type='text')
            .col-md-4.form-group
                label From Qty
                .input-group
                    input#txtFromQty.text(type='number')
                    span.input-group-btn
                        button#btnloadQty.btn.btn-flat(type='button')
                            i.fa.fa-search
                label To Qty
                input#txtToQty.text(type='number')
    .col-md-6.no-padding
        .form-group.col-md-12
            .col-md-6.form-group
                label From Expiry Date
                .input-group
                    input#txtFromManuDate.text(type='date')
                    span.input-group-btn
                        button#btnloadexpiry.btn.btn-flat(type='button')
                            i.fa.fa-search
                label To Expiry Date
                input#txtToExpiryDate.text(type='date')
            .col-md-6.form-group
                label From Manufacturing Date
                .input-group
                    input#txtFromExpiryDate.text(type='date')
                    span.input-group-btn
                        button#btnloadmanufacturing.btn.btn-flat(type='button')
                            i.fa.fa-search
                label(for='inputUsername') To Manufacturing Date
                input#txtToManuDate.text(type='date')
.form-group.col-md-12
    .col-md-6.form-group
        .form-group.col-md-12(style='margin-top:10PX;')
            button#btnAddDetails.btn.btn-flat.btn-sm(type='submit')
                i.fa.fa-plus
                | Add Details