extends menu
block content
    title User Portal | Consignee
    .wrapper
        // Content Wrapper. Contains page content
        .content-wrapper
            // Content Header (Page header)
            section.content-header
                .box-header
                    i.fa.fa-cube
                    h3.box-title Consignee
                    .box-tools.pull-right(data-toggle='tooltip', title='Status')
                        .btn-group(data-toggle='btn-toggle')
                            button#btnformview.btn.btn-default.btn-sm.active(type='button')
                                i.fa.fa-desktop.text-red
                            button#btnlistview.btn.btn-default.btn-sm(type='button')
                                i.fa.fa-th-list.text-red
            // Main content
            include master/consigneeformblock.pug
            include master/consigneelistblock.pug
    script(src='/javascripts/consignee.js')
      
