extends menu
block content
    title User Portal | Inventory
    // Datatable
    link(href='//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css', rel='stylesheet')
    link(href='https://cdn.datatables.net/1.10.15/css/dataTables.bootstrap.min.css', rel='stylesheet')        
    link(href='/stylesheets/AdminLTE.min.css', rel='stylesheet')
    .wrapper
        // Content Wrapper. Contains page content
        .content-wrapper
            // Content Header (Page header)
            section.content-header
                .box-header
                    i.glyphicon.glyphicon-shopping-cart
                    h3.box-title Inventory
                    .box-tools.pull-right(data-toggle='tooltip', title='Status')
                        .btn-group(data-toggle='btn-toggle')
                            button#btnformview.btn.btn-default.btn-sm.active(type='button')
                                i.fa.fa-desktop.text-red
                            button#btnlistview.btn.btn-default.btn-sm(type='button')
                                i.fa.fa-th-list.text-red
            // Main content
            include inventory/searchblock.pug
            include inventory/listblock.pug
        // ./wrapper
    // Datatable
    script(src='https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js')
    script(src='https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap.min.js')
    script(src='/javascripts/inventory.js')
            
