extends menu
block content
    title User Portal | Inventory Transfer
    .wrapper
        // Content Wrapper. Contains page content
        .content-wrapper
            // Content Header (Page header)
            section.content-header
                h1
                    | Inventory Transfer
            // Main content
            section.content
                .row
                    include inventorytransfer/invtransferheaderblock.pug
                .row(style='margin-top:15px;-webkit-box-shadow: 0 4px 6px -6px #222;-moz-box-shadow: 0 4px 6px -6px #222;box-shadow: 0 4px 6px -6px #222;')
                    include inventorytransfer/invtransferskublock.pug
                .row(style='margin-top:15px;')
                    include inventorytransfer/invtransferlistblock.pug
    //pop
    include inventorytransfer/invtransferpopup.pug
    // Datatable
    script(src='https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js')
    script(src='https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.7.7/xlsx.core.min.js')
    script(src='/javascripts/tableExport.js')
    script(src='/javascripts/jquery.base64.js')
    script(src='/javascripts/sprintf.js')
    script(src='/javascripts/jspdf.js')
    script(src='/javascripts/base64.js')
    script(src='/javascripts/html2canvas.js')
    script(src='/javascripts/inventorytransfer.js')