extends menu
block content
    title User Portal | Order
    .wrapper
        // Content Wrapper. Contains page content
        .content-wrapper
            // Content Header (Page header)
            section.content-header
                h1
                    | Order
            // Main content
            section.content
                include order/orderformblock.pug
                include order/orderlistblock.pug
                   
    //popup
    include order/orderpopup.pug
    // Datatable
    script(src='https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js')
    script(src='https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.7.7/xlsx.core.min.js')
    script(src='/javascripts/tableExport.js')
    script(src='/javascripts/jquery.base64.js')
    script(src='/javascripts/sprintf.js')
    script(src='/javascripts/jspdf.js')
    script(src='/javascripts/base64.js')
    script(src='/javascripts/html2canvas.js')
    script(src='/javascripts/order.js')
        
