extends menu
block content
    title User Portal | Receipt
    .wrapper
        // Content Wrapper. Contains page content
        .content-wrapper
            // Content Header (Page header)
            section.content-header
                h1
                    | Receipt
            // Main content
            section.content
                .row
                    .col-lg-12.col-xs-12.col-md-12
                        table#example.table.table-striped.table-bordered(cellspacing='0', width='100%')
                            thead
                                tr
                                    th Enquiry No
                                    th Total Pallets
                                    th Expected Days
                                    th Total CBM
                                    th WH Status
                                    th Status
                            tbody
                                tr
                                    td E10001
                                    td 150
                                    td 30
                                    td 15000
                                    td Confirmed
                                    td Confirmed
                                tr
                                    td E10002
                                    td 140
                                    td 60
                                    td 10000
                                    td Confirmed
                                    td Confirmed
                                tr
                                    td E10003
                                    td 100
                                    td 50
                                    td 25000
                                    td Confirmed
                                    td Confirmed
    // Datatable
    script(src='https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js')
    script(src='https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap.min.js')
    script(src='/javascripts/receipt.js')
