extends menu
block content
    title User Portal | Widgets
    link(rel='stylesheet', href='//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.css')
    .wrapper
        // Content Wrapper. Contains page content
        .content-wrapper
            // Content Header (Page header)
            section.content-header
                h1.col-md-8.col-sm-6.col-xs-12
                    | Widgets
                .col-md-4.col-sm-6.col-xs-12
                    button#btnSubmit.btn.btn-primary.btn-flat(type='submit', style='float:right;margin-bottom:10px;') Submit
            // Main content
            section.content
                //Blocks
                include widget/blocks.pug
                //Charts
                include widget/charts.pug
    //Popup
    include widget/popup.pug            
                        
    // Morris Chart
    script(src='//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.min.js')
    script(type='text/javascript', src='/javascripts/jquery.mycart.js')
    script(type='text/javascript', src='/javascripts/widgets.js')
      
