.col-lg-2.col-md-3.col-xs-7.form-group(style='text-align:left;')
    h5 Dashboard Main
    input#chkDashboardRead(type='checkbox')
    label(for='chkDashboardRead') Read
.col-lg-2.col-md-3.col-xs-7.form-group(style='text-align:left;')
    h5 Warehouse Management
    input#chkWarehouseRead(type='checkbox')
    label(for='chkWarehouseRead') Read
    input#chkWarehouseWrite(type='checkbox')
    label(for='chkWarehouseWrite') Write
.col-lg-2.col-md-3.col-xs-7.form-group(style='text-align:left;')
    h5 Job Management
    input#chkJobRead(type='checkbox')
    label(for='chkJobRead') Read
    input#chkJobWrite(type='checkbox')
    label(for='chkJobWrite') Write
.col-lg-2.col-md-3.col-xs-7.form-group(style='text-align:left;')
    h5 Inventory Management
    input#chkInventoryRead(type='checkbox')
    label(for='chkInventoryRead') Read
    input#chkInventoryWrite(type='checkbox')
    label(for='chkInventoryWrite') Write
.col-lg-2.col-md-3.col-xs-7.form-group(style='text-align:left;')
    h5 Accounts Management
    input#chkAccountRead(type='checkbox')
    label(for='chkAccountRead') Read
    input#chkAccountWrite(type='checkbox')
    label(for='chkAccountWrite') Write
.col-lg-2.col-md-3.col-xs-7.form-group(style='text-align:left;')
    h5 User Management
    input#chkUsermanagementRead(type='checkbox')
    label(for='chkUsermanagementRead') Read
    input#chkUsermanagementWrite(type='checkbox')
    label(for='chkUsermanagementWrite') Write
.col-lg-2.col-md-3.col-xs-7.form-group(style='text-align:left;')
    h5 Reports
    input#chkReportsRead(type='checkbox')
    label(for='chkReportsRead') Read
.col-lg-2.col-md-3.col-xs-7.form-group(style='text-align:left;')
    h5 My Account
    input#chkMyAccountRead(type='checkbox')
    label(for='chkMyAccountRead') Read
    input#chkMyAccountWrite(type='checkbox')
    label(for='chkMyAccountWrite') Write