#Addtocartpopup.modal.fade(tabindex='-1')
    .modal-dialog
        .modal-content
            .modal-header
                h4.modal-title Message
            #QuotationBody.modal-body
                h5 Widget added to cart
            .modal-footer
                button#btnGotocart.btn.btn-primary.btn-flat(data-dismiss='modal', type='submit') Go to cart
                button#btnClose.btn.btn-primary.btn-flat(data-dismiss='modal', type='submit') Ok