#divApplyStatus.col-md-12.form-group(style='text-align:left;margin-top:15px;display:none')
    .col-md-4
        h4 Apply status :
    .col-md-2
        select#ddlFeeCurrency.text(style='width:100%;margin-bottom:5px;')
            option(value='Confirm') Confirm
            option(value='Cancel') Cancel
    .col-md-2
        input#btnSubmit.btn.btn-primary.btn-flat.btn-block(type='submit', value='Submit', style='width:150px;')