section#formview.content
    .row
        .col-lg-6.col-xs-12.col-md-6
            .col-md-12.form-group(style='text-align:left;')
                h5 Item name
                input#txtWHName.text(type='text')
            .col-md-12.form-group(style='text-align:left;')
                h5 Description
                textarea#txtWHAddress.text(rows='5', cols='20')
            .col-md-12.form-group(style='text-align:left;')
                h5 Type
                input#txtWHSpace.text(type='text', style='margin-bottom:5px;')
            .col-md-12.form-group(style='text-align:left;')
                h5 HS Code
                input#txtHSCode.text(type='text', style='margin-bottom:5px;')
            .col-md-12.form-group.no-padding(style='text-align:left;')
                .col-md-3.form-group
                    h5 Length
                    input#txtLength.text(type='number', min='0', value='0')
                .col-md-3.form-group
                    h5 Width
                    input#txtWidth.text(type='number', min='0', value='0')
                .col-md-3.form-group
                    h5 Height
                    input#txtHeight.text(type='number', min='0', value='0')
                .col-md-3.form-group
                    h5 Unit
                    select#ddlUnit.text
                        option Millimeter
                        option Centimeter
                        option Inch
                .col-md-12.form-group(style='text-align:left;')
                    h5(style='clear: left;') STD Cube
                    input#txtSTDCube.text(type='number', style='margin-bottom:5px;', min='0')
                .col-md-12.form-group(style='text-align:left;')
                    h5 STD Gross Weight
                    input#txtEmail.text(type='text')
                .col-md-12.form-group(style='text-align:left;')
                    h5 STD Net Weight
                    input#txtEmail.text(type='text')
        .col-lg-6.col-xs-12.col-md-6
            .col-md-10.form-group(style='text-align:left;clear:left')
                h5(style='') Stackable?
            .col-md-2.form-group(style='text-align:left;margin-top:10px;')
                input#Checkbox1(type='checkbox')
                label(for='Checkbox1') Yes
            .col-md-12.form-group(style='text-align:left;')
                h5 Handling Instruction
                input#txtEmail.text(type='text')
            .col-md-12.form-group(style='text-align:left;')
                h5 Notes
                textarea#TextArea1.text(rows='5', cols='20')
        .col-md-12.form-group(style='text-align:left;margin-top:15px;')
            input#btnSubmit.btn.btn-primary.btn-flat.btn-block(type='submit', value='Submit', style='width:150px;')