section#listview.content
    #divSearchDetailsTable.row
        .col-lg-12.col-xs-12.col-md-12
            .col-md-12
                table#example.table.table-striped.table-bordered(cellspacing='0', width='100%')
                    thead
                        tr
                            th Item name
                            th Description
                            th Type
                            th STD Cube
                            th STD Gross Weight
                            th STD Net Weight
                            th Stackable 
                            th Length 
                            th Width  
                            th Height  
                            th Handling Instruction 
                            th Expected Pallets  
                            th Notes  
                    tbody
                        tr
                            td SKU A
                            td Details
                            td Type A
                            td 150
                            td 100
                            td 120
                            td Yes
                            td 10
                            td 10
                            td 5
                            td Handle with care
                            td 50
                            td Notes
                        tr
                            td SKU B
                            td Details
                            td Type A
                            td 150
                            td 100
                            td 120
                            td Yes
                            td 10
                            td 10
                            td 5
                            td Handle with care
                            td 50
                            td Notes