.col-md-12(style='margin-top:15px;-webkit-box-shadow: 0 4px 6px -6px #222;-moz-box-shadow: 0 4px 6px -6px #222;box-shadow: 0 4px 6px -6px #222;')
    .col-md-6
        .form-group.col-md-12
            .col-md-5
                label(for='inputUsername') Adjustment Key
            .col-md-6
                input#txtAdjustementKey.text(type='text')
        .form-group.col-md-12
            .col-md-5
                label(for='inputPassword') Reason
            .col-md-6
                select#ddlMake.text(style='width:100%;margin-bottom:5px;')
                    option(value='INR') Reason1
                    option(value='AED') Reason2
                    option(value='AED') Reason3
    .col-md-6
        .form-group.col-md-12
            .col-md-5
                label(for='inputUsername') Date
            .col-md-6
                input#Text1.text(type='date')